@model APPMVC.NET.Models.ProductModel
@{ 
    var product = ViewData["product"] as ProductModel;
}

<div class="card bg-primary text-white " ">
    <h1 class="card-header">@product.Name</h1>
    <div class=" card-body">
        <div class="card-text">
            <p>
                Giá: @product.Price
            </p>
        </div>
    </div>
</div>