@model APPMVC.NET.Models.ProductModel


<div class="card bg-danger text-white " ">
    <h1 class="card-header">@Model.Name</h1>
    <div class=" card-body">
        <div class="card-text">
            <p>
                Giá: @Model.Price
            </p>
        </div>
    </div>
</div>