@model string

@{ 
    Layout = "_Layout";
}

<div class="card bg-primary text-white "">
    <h1 class="card-header">
        Xinchao @Model</h1>
    <div class=" card-body">
        <div class="card-text">
            <p>
                Bạn đang tìm hiểu về View(.cshtml)
            </p>
        </div>
    </div>
</div>
@this.Path