@model APPMVC.NET.Models.PlanetModel

<h1>@Model.Name</h1>

<div class="card w-50">
    <img src="~/Planet//@(Model.Name).jpg" alt="" />
    <div class="card-body">
        <div class="card-text">
            @Model.Content
        </div>
        <a class="card-link" asp-action="Index"> Các hành tinh </a> 
    </div>
</div>